// COLORES
$color_rojo: rgba(184, 13, 13, 0.925);
$color_negro_transparente: rgba(86, 84, 84, 0.432);

// BOTONES
@mixin btn_redondos($right, $color) {
    right: $right;
    top: 5px;
    padding: 10px;
    background-color: $color_negro_transparente;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
  
    &:hover {
      cursor: pointer;
      background-color: $color;
      transform: scale(1.1);
    }
  }