@import "variables";

.top-buttons{
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;

    .fa-trash-can {
        @include btn_redondos($color_rojo)
      }
    
    .fa-pen {
        @include btn_redondos($color_verde)
      }
}

.fa-thumbs-up{
    transition: all 0.7s ease;

    &:hover{
        transform: scale(1.1);
        transform: rotate(-30deg);
    }
}

.fa-message{
    transition: all 0.3s ease;

    &:hover{
        transform: scale(1.1);
    }
}

.card-img-top{
    height: 250px;
    object-fit: cover;
}

.read-more{
    color: rgb(56, 56, 56);
    font-weight: 400;
    text-underline-offset: 3px;
    text-decoration-color: rgba(153, 158, 163, 0.827);
    text-decoration-thickness: 1px ;

    &:hover{
        color: rgba(153, 158, 163, 0.827);
        text-decoration-color: rgba(56, 56, 56);
    }
}

.disabled {
    opacity: 0.5; /* Puedes ajustar el estilo de deshabilitado según tus necesidades */
    pointer-events: none;
    cursor: not-allowed;
  }