<div class="container my-4">
  <div class="pt-4 d-flex align-items-center justify-content-between gap-4">
    <h2 class="flex-grow-1">Posts</h2>
    <div class="d-flex align-items-center gap-2">
      <i class="fa-solid fa-filter fs-5"></i>
      <p
        class="mb-0"
        data-bs-toggle="collapse"
        href="#collapseFilter"
        role="button"
        aria-expanded="false"
        aria-controls="collapseFilter"
      >
        FILTRAR
      </p>
    </div>
    <div class="d-flex align-items-center gap-2">
      <i class="fa-solid fa-circle-plus fs-5"></i>
      <p
        class="mb-0"
        data-bs-toggle="collapse"
        href="#collapseNuevoPost"
        role="button"
        aria-expanded="false"
        aria-controls="collapseNuevoPost"
        [ngClass]="{ 'disabled': editPost }"
      >
        NUEVO POST
      </p>
    </div>
  </div>
  <hr class="" />
  <!-- ----------------------------- Formulario de Filtrado ------------------------------------- -->
  <div class="bg-light p-3 rounded collapse mb-3" id="collapseFilter">
    <form action="" class="row align-items-end">
      <div class="col-md-4">
        <!-- <label for="autor" class="form-label">Autor</label> -->
        <select class="form-select" id="autor" required="">
          <option value="">Autor...</option>
          <option>California</option>
        </select>
      </div>
      <div class="col-md-4">
        <!-- <label for="ordenar" class="form-label">Ordenar</label> -->
        <select class="form-select" id="ordenar" required="">
          <option value="">Ordenar...</option>
          <option>Ascendente</option>
          <option>Descendente</option>
        </select>
      </div>
      <div class="col-md-3">
        <!-- <label for="fecha" class="form-label">Fecha</label> -->
        <input type="date" class="form-control" id="fecha" />
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary px-3" type="button">Filtrar</button>
      </div>
    </form>
  </div>
  <!-- ----------------------------- Formulario de Post ------------------------------------- -->
  <div class="bg-light p-3 rounded collapse" id="collapseNuevoPost">
    <form
      action=""
      [formGroup]="formPost"
      (ngSubmit)="enviarPost()"
      class="row align-items-start"
    >
      <div class="d-flex flex-column gap-3 col-md-5">
        <div class="">
          <label for="title" class="form-label">Titulo</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Titulo del artículo..."
            formControlName="title"
          />
        </div>
        <div class="">
          <label for="image" class="form-label">Imagen</label>
          <input
            type="text"
            class="form-control"
            id="image"
            placeholder="Url de la imagen..."
            formControlName="image"
          />
        </div>
      </div>
      <div class="col-md-5">
        <label for="description" class="form-label">Descripción</label>
        <textarea
          class="form-control"
          id="description"
          rows="5"
          placeholder="Descripción del artículo..."
          formControlName="description"
        ></textarea>
      </div>
      <div class="col-md-2 mt-auto d-flex gap-2">
        <button
          class="btn btn-primary px-2"
          type="submit"
          [disabled]="!formPost.valid"
          data-bs-toggle="collapse"
          aria-controls="collapseNuevoPost"
          href="#collapseNuevoPost"
        >
          {{ editPost ? "Editar" : "Añadir"}}
        </button>
        <button
          *ngIf="editPost"
          class="btn btn-secondary px-2"
          type="button"
          data-bs-toggle="collapse"
          aria-controls="collapseNuevoPost"
          href="#collapseNuevoPost"
          (click)="toggleEditPost()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <!-- ---------------------------------------------- POST ---------------------------------------------- -->
  <div class="row mt-4">
    <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let post of listPostsToShow">
      <div class="card mb-3 position-relative">
        <div
          class="top-buttons d-flex gap-1"
          *ngIf="post.id_user == userSignedId"
        >
          <i
            class="fa-solid fa-pen fs-5"
            data-bs-toggle="collapse"
            href="#collapseNuevoPost"
            (click)="toggleEditPost()"
            [ngClass]="{ 'disabled': editPost }"
          ></i>
          <i class="fa-regular fa-trash-can fs-5"></i>
        </div>
        <img
          [src]="post.image"
          onerror="this.onerror=null; this.src='../assets/sin-image.png';"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">
            {{ post.description | trim }}
            <a class="read-more" [routerLink]="['/posts', post.id]">Leer más</a>
          </p>
          <div class="row">
            <p class="card-text col-6">
              <small class="text-body-secondary">{{
                post.publication_date | dateFromNow
              }}</small>
            </p>
            <div
              class="col-6 d-flex justify-content-end align-items-start gap-3"
            >
              <p class="mb-0">
                <i class="fa-regular fa-thumbs-up fs-5 link-primary"></i
                ><small class="ms-1"></small>
              </p>
              <a
                [routerLink]="['/posts', post.id]"
                class="text-decoration-none link-dark"
                ><i class="fa-regular fa-message fs-5 link-primary"></i
                ><small class="ms-1"></small
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <span class="btn btn-secondary" (click)="showMore()">Ver más</span>
    </div>
  </div>
</div>
