<div class="container my-5">
  <!-- <div
    class="row p-4 pb-0 pe-lg-0 py-lg-4 align-items-center rounded-3 border shadow-lg"
  >
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">
        Hero con borde y una imagen cortada y con sombra
      </h1>
      <p class="lead">
        Diseña y personaliza rápidamente sitios móviles con capacidad responsive
        con Bootstrap, el conjunto de herramientas de código abierto de
        front-end más popular del mundo, que incluye variables y mixins de Sass,
        un sistema de cuadrícula responsive, amplios componentes preconstruidos
        y potentes complementos de JavaScript.
      </p>
    </div>
    <div class="col-lg-4 p-0 offset-lg-1 overflow-hidden shadow-lg">
      <img
        class="rounded-3"
        src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGVzdHVkaW98ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
        alt=""
        width="820"
      />
    </div>
  </div> -->
  <div
    class="row mt-4"
    data-masonry='{"percentPosition": true }'
    style="position: relative; height: 688.4px"
  >
    <div
      class="col-sm-6 col-lg-4 mb-4"
      style="position: absolute; left: 0%; top: 0px"
    >
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Capa de imagen"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Capa de imagen</text>
        </svg>
        <div class="card-body">
          <h5 class="card-title">
            Título de la tarjeta que se ajusta a una nueva línea
          </h5>
          <p class="card-text">
            Esta es una tarjeta más larga con texto de apoyo a continuación como
            introducción natural a contenido adicional. Este contenido es un
            poco más largo.
          </p>
        </div>
      </div>
    </div>
    <div
      class="col-sm-6 col-lg-4 mb-4"
      style="position: absolute; left: 33.3323%; top: 30px"
    >
      <div class="card p-3">
        <figure class="p-3 mb-0">
          <blockquote class="blockquote">
            <p>Una cita conocida, contenida en un elemento blockquote.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-muted">
            Alguien famoso en
            <cite title="Source Title">Título de la fuente</cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div
      class="col-sm-6 col-lg-4 mb-4"
      style="position: absolute; left: 66.6647%; top: 0px"
    >
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Capa de imagen"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Capa de imagen</text>
        </svg>
        <div class="card-body">
          <h5 class="card-title">Título de la tarjeta</h5>
          <p class="card-text">
            Esta tarjeta tiene texto de apoyo a continuación como introducción
            natural a contenido adicional.
          </p>
          <p class="card-text">
            <small class="text-muted"
              >Última actualización hace 3 minutos</small
            >
          </p>
        </div>
      </div>
    </div>
    <div
      class="col-sm-6 col-lg-4 mb-4"
      style="position: absolute; left: 33.3323%; top: 200.6px"
    >
      <div class="card bg-primary text-white text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>Una cita conocida, contenida en un elemento blockquote.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-white">
            Alguien famoso en
            <cite title="Source Title">Título de la fuente</cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div
      class="col-sm-6 col-lg-4 mb-4"
      style="position: absolute; left: 33.3323%; top: 339.2px"
    >
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Título de la tarjeta</h5>
          <p class="card-text">
            Esta tarjeta tiene un título normal y un breve párrafo de texto
            debajo.
          </p>
          <p class="card-text">
            <small class="text-muted"
              >Última actualización hace 3 minutos</small
            >
          </p>
        </div>
      </div>
    </div>
    <div
      class="col-sm-6 col-lg-4 mb-4"
      style="position: absolute; left: 66.6647%; top: 377.6px"
    >
      <div class="card">
        <svg
          class="bd-placeholder-img card-img"
          width="100%"
          height="260"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Card image"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text>
        </svg>
      </div>
    </div>
    <div
      class="col-sm-6 col-lg-4 mb-4"
      style="position: absolute; left: 0%; top: 385.6px"
    >
      <div class="card p-3 text-end">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>Una cita conocida, contenida en un elemento blockquote.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-muted">
            Alguien famoso en
            <cite title="Source Title">Título de la fuente</cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div
      class="col-sm-6 col-lg-4 mb-4"
      style="position: absolute; left: 33.3323%; top: 516.8px"
    >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Título de la tarjeta</h5>
          <p class="card-text">
            Esta es otra tarjeta con título y texto de apoyo a continuación.
            Esta tarjeta tiene algo de contenido adicional para hacerlo un poco
            más alto en general.
          </p>
          <p class="card-text">
            <small class="text-muted"
              >Última actualización hace 3 minutos</small
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
