<!---------------------------------------------------- HERO Inicio ------------------------------------------------------------------>
<app-hero></app-hero>
<!---------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------- SECCiON REGISTRO Inicio ------------------------------------------------------------------>
<app-login *ngIf="!signed"></app-login>
<app-about *ngIf="signed"></app-about>
<!---------------------------------------------------------------------------------------------------------------------->

<!-- <div class="b-example-divider"></div> -->

<!---------------------------------------------------- SECCiON Novedades-Imagenes Inicio ------------------------------------------------------------------>
<app-news></app-news>
<!---------------------------------------------------------------------------------------------------------------------->
