<!---------------------------------------------------- HERO Inicio ------------------------------------------------------------------>
<app-hero></app-hero>
<!---------------------------------------------------- HERO fin ------------------------------------------------------------------>

<!---------------------------------------------------- SECCiON REGISTRO Inicio ------------------------------------------------------------------>
<app-register></app-register>
<!---------------------------------------------------- SECCiON REGISTRO Fin ------------------------------------------------------------------>

<div class="b-example-divider"></div>

<!---------------------------------------------------- SECCiON Novedades-Imagenes Inicio ------------------------------------------------------------------>
<app-news></app-news>
<!---------------------------------------------------- SECCiON Novedades-Imagenes Fin ------------------------------------------------------------------>
