<div class="container my-4">
  <div
    class="d-flex align-items-center px-3 my-3 text-dark rounded shadow-sm card mb-3"
  >
    <div class="row g-0">
      <div class="col-md-4 my-auto">
        <img
          src="https://images.unsplash.com/photo-1529107386315-e1a2ed48a620?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            La política es un tema que siempre ha sido objeto de debate y
            discusión en todo el mundo. Es un campo vasto y complejo que abarca
            desde las decisiones y acciones de los líderes gubernamentales hasta
            los derechos y responsabilidades de los ciudadanos comunes. A medida
            que el mundo continúa evolucionando y cambiando, la política también
            se adapta y cambia para reflejar las necesidades y preocupaciones de
            la sociedad. En la actualidad, la política está dominada por temas
            como la crisis climática, la igualdad de género, la seguridad
            nacional y la economía global. Los líderes políticos se enfrentan a
            decisiones difíciles y cruciales que afectan directamente a las
            personas que representan y a las futuras generaciones. Los
            ciudadanos, por su parte, tienen la responsabilidad de participar en
            el proceso político a través del voto y la voz para asegurarse de
            que sus necesidades y preocupaciones sean escuchadas.
          </p>
          <div class="row justify-content-between align-items-start">
            <p class="col-md-6">
              <small>Last updated 3 mins ago</small>
            </p>
            <p class="col-md-6 d-flex justify-content-end">
              <small>Autor: Nombre del autor</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form action="">
    <div class="mb-3 d-flex justify-content-start align-items-center gap-2">
      <img
        src="https://www.nicepng.com/png/detail/128-1280406_view-user-icon-png-user-circle-icon-png.png"
        width="50"
        height="50"
        class="rounded-circle"
      />
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="2"
        placeholder="Escriba un comentario..."
      ></textarea>
      <button class="btn btn-primary">Comentar</button>
    </div>
  </form>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Comentarios</h6>
    <div class="d-flex text-body-secondary pt-3">
      <svg
        class="bd-placeholder-img flex-shrink-0 me-2 rounded"
        width="32"
        height="32"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: 32x32"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#007bff"></rect>
        <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
      </svg>
      <p class="pb-3 mb-0 small lh-sm border-bottom flex-grow-1">
        <strong class="d-block text-gray-dark">@username</strong>
        Some representative placeholder content, with some information about
        this user. Imagine this being some sort of status update, perhaps?
      </p>
      <div class="d-flex gap-2">
        <i class="fa-regular fa-pen-to-square fs-4 text-primary"></i>
        <i class="fa-regular fa-trash-can fs-4 text-danger"></i> 
      </div>
    </div>
    <div class="d-flex text-body-secondary pt-3">
      <svg
        class="bd-placeholder-img flex-shrink-0 me-2 rounded"
        width="32"
        height="32"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: 32x32"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#e83e8c"></rect>
        <text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text>
      </svg>
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@username</strong>
        Some more representative placeholder content, related to this other
        user. Another status update, perhaps.
      </p>
    </div>
    <div class="d-flex text-body-secondary pt-3">
      <svg
        class="bd-placeholder-img flex-shrink-0 me-2 rounded"
        width="32"
        height="32"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: 32x32"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#6f42c1"></rect>
        <text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text>
      </svg>
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@username</strong>
        This user also gets some representative placeholder content. Maybe they
        did something interesting, and you really want to highlight this in the
        recent updates.
      </p>
    </div>
    <div class="d-flex text-body-secondary pt-3">
        <svg
          class="bd-placeholder-img flex-shrink-0 me-2 rounded"
          width="32"
          height="32"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 32x32"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#007bff"></rect>
          <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">@username</strong>
          Some representative placeholder content, with some information about
          this user. Imagine this being some sort of status update, perhaps?
        </p>
      </div>
      <div class="d-flex text-body-secondary pt-3">
        <svg
          class="bd-placeholder-img flex-shrink-0 me-2 rounded"
          width="32"
          height="32"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 32x32"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#e83e8c"></rect>
          <text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">@username</strong>
          Some more representative placeholder content, related to this other
          user. Another status update, perhaps.
        </p>
      </div>
      <div class="d-flex text-body-secondary pt-3">
        <svg
          class="bd-placeholder-img flex-shrink-0 me-2 rounded"
          width="32"
          height="32"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 32x32"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#6f42c1"></rect>
          <text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">@username</strong>
          This user also gets some representative placeholder content. Maybe they
          did something interesting, and you really want to highlight this in the
          recent updates.
        </p>
      </div>
      <div class="d-flex text-body-secondary pt-3">
        <svg
          class="bd-placeholder-img flex-shrink-0 me-2 rounded"
          width="32"
          height="32"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 32x32"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#007bff"></rect>
          <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">@username</strong>
          Some representative placeholder content, with some information about
          this user. Imagine this being some sort of status update, perhaps?
        </p>
      </div>
      <div class="d-flex text-body-secondary pt-3">
        <svg
          class="bd-placeholder-img flex-shrink-0 me-2 rounded"
          width="32"
          height="32"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 32x32"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#e83e8c"></rect>
          <text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">@username</strong>
          Some more representative placeholder content, related to this other
          user. Another status update, perhaps.
        </p>
      </div>
      <div class="d-flex text-body-secondary pt-3">
        <svg
          class="bd-placeholder-img flex-shrink-0 me-2 rounded"
          width="32"
          height="32"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 32x32"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#6f42c1"></rect>
          <text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">@username</strong>
          This user also gets some representative placeholder content. Maybe they
          did something interesting, and you really want to highlight this in the
          recent updates.
        </p>
      </div>
    
    <small class="d-block text-end mt-3">
        <a href="#">Ver más comentarios</a>
    </small>
  </div>
</div>
